@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css";
.columns {
    max-width: 90vw !important;
    margin-bottom: -1.9vh !important;
}

@media screen and (orientation:landscape) {
    .columns .column{
        width: 90vw !important;
    }
}
/* mostly use for grids */