
body {
    background-color: #313131;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: fit-content;
    
}

h1.projectname {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    margin: 1.2em;
    text-decoration: none !important;
    /* shadow the same text in rainbow colors */
    text-shadow:#316969 0 0 5px, #316969 0 0 10px, #316969 0 0 15px, #316969 0 0 20px, #316969 0 0 25px, #316969 0 0 30px, #316969 0 0 35px;
}
span.projectname {
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
    text-decoration: underline !important;
    /* shadow the same text in rainbow colors */
    text-shadow:#316969 0 0 5px, #316969 0 0 10px, #316969 0 0 15px, #316969 0 0 20px, #316969 0 0 25px, #316969 0 0 30px, #316969 0 0 35px;
}

.project-page-container {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

@media screen and (orientation: portrait) and (max-width: 600px) {
    .project-page-container {
        display: flex;
        flex-direction: column;
    }
    
}

.screenshot-slider {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    /* margin: 2vw; */
    max-width: 100%;
    overflow-x: hidden;

}

.screenshot-slider h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.screenshot-slider h3 {
    /* margin-top: 0.2em; */
    margin-top: 0;
    margin-bottom: 0.9em;
}

.screenshotswithbuttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.screenshots {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.7em;
    border: #424242 1px solid;
    overflow-x: scroll;
    scrollbar-width: 10px;
    scrollbar-color: #316969 #00000000;
    /* cursor:grab; */
    cursor: pointer;
    max-width: 100%;
}

button.prev {
    background-color: #424242;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    max-width: 5%;
    cursor: pointer;
}
button.next{
    background-color: #424242;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    max-width: 5%;
    cursor: pointer;
}

button.prev:hover, button.next:hover {
    background-color: #505050;
}

@media screen and (orientation: portrait) {
    .prev , .next {
        display: none;
    }
    
}

.screenshots img {
    width: 100%;
    min-width: 25vw;
    height: 200px;
    object-fit: fill;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.screenshot {
    max-width: 25vw;
    border: none;
}

@media screen and (orientation: portrait) {
    .screenshots img{
        min-width: 38vw;
        height: 25vw;
    }
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal img{
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    scale: auto;
    max-width: 90%;
    max-height: 70vh;
    border-radius: 0.7em;
    object-fit: contain;
}

.project-infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    margin: 0;
}

.info-panel a{
    color: #ffffff;
    text-decoration: underline;
}

@media screen and (orientation: portrait) {
    .info-panel {
        display: flex;
        flex-direction: column;
    }
    
}

.info-panel h2 {
    margin: 0.5em auto 0.5em 0;
}

.projectpreview {
    height: 30vh;
    width: 100%;
}

.projectpreview iframe {
    display: block; width: 100%; border: none; overflow-y: auto; overflow-x: hidden;
}

.projectpreviewbutton {
    width: 100% !important;
    border-radius: 0.7em;
    border: 1px solid #696969;
    text-align: center !important;
}

/* collapsible */
.collapsible {
    font-size: 1em;
    /* margin-left: 20%;
    margin-right: 20%; */
    cursor: pointer;
    width: 20%;
    text-align: left;
    outline: none;
}

.expanded, .collapsible:hover {
    background-color: #505050;
}

.collapsible:after {
    content: '\002B';
}

.expanded:after {
    content: "\2212";
}

.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #424242;
    border-radius: 0.7em;
    margin-bottom: 0 !important;
}
/* collapsible end */