body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f76c6c, #ffa07a); /* Gradient background */
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff; /* Font color */
    font-family: 'Roboto', sans-serif; /* Custom font family */
}
